<div class="container">
  <div class="row">
    <div class="col-12"><label>Server Name: </label>
      <input type="text" class="form-control" (input)="onServerNameUpdate($event)"></div>
  </div>
  <div class="row"><div class="col-12">
    <p>{{ serverName }}</p>
  </div></div>
  <div class="row">
    <div class="col-12"><button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add
        Server</button></div>
  </div>
  <div class="row">
    <div class="col-12">{{ serverCreationStatus }}</div>
  </div>
  <br />
  <div class="row">
    <app-server></app-server>
  </div>
  <div class="row">
    <app-server></app-server>
  </div>
</div>